[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-bcrypt = "*"
flask = "*"
flask-cors = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
psycopg2 = "*"
pytz = "*"
waitress = "*"
pendulum = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.11"
